*{
  font-family: Verdan ;
}

/* menu base styles */

body{
  background: #fff ;
}

.row {
  background: #fff ;
  margin-left: 0 ;
  margin-top: 10px ;
  margin-left: 10px  ;
  margin-right: 10px ;
  box-sizing: border-box ;  
}

.logo-image { 
  width: 100px ;
}

.main-image{
  width: 100%;
}

.row4-image{
  width: 100% ;
}
.row4-line{
  text-align: center
}
 .name{
  width: 100% ;
  font-size: 100% ;
  text-align : right ;
} 

/* media quiry style */
/* ipad style */
@media screen and (max-width: 991px){
  .logo-image{
    width : 80px ;
  }
  .main-image{
    height : 75% ; 
  }
  h1 {
    font-size: 30px ;
 } 
  h4 {
  font-size: 15px ;
  } 
  h2{
    font-size: 20px ;
  } 
 
}

/* Nexes5 style */
@media screen and (max-width: 767px){ 
  .logo-image{
    display: block ;
    margin-left : auto ;
    margin-right: auto ;
    width : 50px ;
  }
    .row3-line {
        text-align: center ;
    }
    .row4-image{
     width: 70% ;
  }

  h1, h4 {
    font-size: inherit ;
    text-align: center ;
   } 
 
 h2{
  font-size: 20px ;
 }
}